*.bin
*.so
*.debug
*.d
*.o
*.rmeta
strsplit/target/debug/*
strsplit/target/debug/deps/*
strsplit/target/*
Concurency/target/*
tcp_server/target*
strsplit/target/debug/deps/strsplit-65e5796d8476127d
strsplit/target/debug/deps/libstrsplit-68b5e96ce58cf416.rmeta
strsplit/target/debug/deps/libstrsplit-ddeff26e2ef791d1.rlib
strsplit/target/debug/deps/libstrsplit-fe47401ba0a94816.rmeta
strsplit/target/debug/deps/libstrsplit-ddeff26e2ef791d1.rmeta
strsplit/target/debug/deps/strsplit-65e5796d8476127d.d
strsplit/target/debug/deps/strsplit-68b5e96ce58cf416.d
strsplit/target/debug/deps/strsplit-8274dc6da5e54eaa.d
strsplit/target/debug/deps/strsplit-ddeff26e2ef791d1.d
strsplit/target/debug/deps/strsplit-fe47401ba0a94816.d
actix-web/target
